*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    background-color: lavender;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    width: 100%;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
}

.hamburger{
    display: none;
}

.hamburger .line{
    height: 3px;
    width: 20px;
    margin: 5px;
    background-color: black;
    border-radius: 5px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    color: black;
    text-decoration: none;
    padding: 5px 7px;
}

.navbar ul li a:hover{
    color: lavender;
    border-radius: 50px;
    background-color: black;
}

.navbar ul li a.active{
    color: lavender;
    border-radius: 50px;
    background-color: black;
}

@media only screen and (max-width: 730px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 600px){
    .hamburger{
        display: block;
    }

    .navbar{
        top: 50px;
        position: absolute;
        left: 0;
        right: 0;
        overflow: hidden;
        height: 0;
        background-color: lavender;
        transition: 0.4s;
    }

    .navbar.active{
        height: 340px;
    }

    .navbar ul{
        display: block;
        margin: 80px auto 0 auto;
        width: fit-content;
        opacity: 0;
    }

    .navbar.active ul{
        opacity: 1;
    }

    .navbar ul li{
        margin-bottom: 1rem;
    }
}