*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: palegoldenrod;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: black;
    width: 100%;
    padding: 0 100px;
}

.logo{
    color: whitesmoke;
    font-size: 1.5rem;
    cursor: pointer;
}

.hamburger{
    display: none;
}

.hamburger .line{
    height: 3px;
    width: 20px;
    background-color: whitesmoke;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;    
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    padding: 10px 15px;
    text-decoration: none;
    color: whitesmoke;
}

.navbar ul li a:hover{
    color: black;
    background-color: whitesmoke;
    border-radius: 50px;
}

@media only screen and (max-width: 980px){
    header{
        padding: 0 40px;
    }
}
@media only screen and (max-width: 750px){
    .hamburger{
        display: block;
    }
    .navbar{
        height: 0;
        top: 55px;
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: black;
        transition: 0.2s;
        overflow: hidden;
    }
    .navbar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        /* opacity: 0; */
    }
}