
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{     
    display: flex; 
    width: 100%;
    height: 60px;
    padding: 0 100px;
    justify-content:space-between;
    align-items: center;
    background-color: rebeccapurple;
}
.logo{
    color: whitesmoke;
    font-weight: bold;
}
.navbar ul{
    display: flex;
    gap: 1rem;
    margin: 0 0.5rem;
    margin: 2px 0;
}
.navbar ul li{
    list-style: none;
    font-size: 1.1rem;
    padding: 0.3rem;
    cursor: pointer;
    color: whitesmoke;
    transition: transform 0.2s ease-in-out 0s;

}
.navbar ul li:hover{
    background-color: white;
    border-radius: 5px;
    color: rebeccapurple;
    transform: scale(1.1);
}

/* ----------------------CODE FOR HAMBURGER MENU---------------------- */
.hamburger{
    display: none;
    cursor: pointer;
}

.hamburger .line{
    margin: 6px 0;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

/* ----------------------MEDIA QUERY---------------------- */

@media screen and (max-width: 880px) {
    .navbar{
        padding: 0 50px;
    }
}
@media screen and (max-width: 680px) {
    .navbar{
        padding: 0 25px;
    }
}
@media screen and (max-width: 480px) {
    .navbar ul{
        display: block;
    }

    .hamburger{
        display: block;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: rebeccapurple;
        transform: 0.2s;
    }
}