*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas: "header header header"
                         "main main aside"
                         "footer footer footer";
}

header{
    grid-area: header;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
    height: 80px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: whitesmoke;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line{
    height: 3px;
    margin: 5px 0;
    width: 20px;
    background-color: whitesmoke;
    border-radius: 50px;
    transition: 0.5s;
}

.navbar ul{
    display: flex;
}

.navbar li{
    list-style: none;
}

.navbar a{
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 6px;
}

.navbar a:hover{
    color: black;
    background-color: whitesmoke;
    border-radius: 50px;
}

.navbar a.active{
    color: black;
    background-color: whitesmoke;
    border-radius: 50px;
    margin: 0 5px;
}

main{
    background-color: gray;
    grid-area: main;
    min-height: 80vh;
}

aside{
    background-color: royalblue;
    grid-area: aside;
    min-height: 80vh;
}

footer{
    background-color: orangered;
    grid-area: footer;
    min-height: 40vh;
}

@media (max-width:660px){
    header{
        padding: 0 30px;
    }
}

@media (max-width: 520px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .line:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar{
        position: absolute;
        top: 80px;
        left: -100%;
        width: 100%;
        background-color: black;
        transition: all 0.5s ease-in-out;
    }
    .navbar ul{
        flex-direction: column;
        width: fit-content;
        margin: auto;
        text-align: center;
        transition: 0.3s;
    }

    .navbar li{
        margin: 1rem 0;
    }

    .navbar.active {
        left: 0;
    }
}